<html>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <body>
        <input name="url-input" class="form-control"></input>
        <select name="video-format" class="form-select">
            <option value="mp4">MP4</option>
            <option value="webm">WEBM</option>
            <option value="mkv">MKV</option>
        </select>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="audio-export-check">
                <label class="form-check-label" for="firstCheckbox">Export audio</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="thumb-export-check">
                <label class="form-check-label" for="secondCheckbox">Export thumbnail</label>
            </li>
        </ul>
        <select name="audio-format" class="form-select">
            <option value="mp3">MP3</option>
        </select>
        <button 
            hx-get="/add/" 
            hx-vals='js:{url: getURL(), video_format: getVideoFormat(), audio_export: getExportAudio(), thumbnail_export: getExportThumb()}' 
            hx-target="#content" 
            hx-swap="innerHTML" 
            class="btn btn-primary mb-3"
        >Submit</button>
        <button hx-get="/clear/" hx-target="#content" hx-swap="innerHTML" class="btn btn-primary mb-3">Clear Queue</button>
        
        <div id="content" hx-get="/video_list/" hx-swap="innerHTML" hx-trigger="load">
        </div>
        <button hx-get="/download/" hx-swap="none" class="btn btn-primary mb-3">Download</button>
    </body>
</html>
<script>
    getURL = () => {
        return document.getElementsByName("url-input")[0].value;
    }
    getVideoFormat = () => {
        return document.getElementsByName("video-format")[0].value;
    }
    getExportAudio = () => {
        return document.getElementById("audio-export-check").checked;
    }
    getExportThumb = () => {
        return document.getElementById("thumb-export-check").checked;
    }
</script>